* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: bisque;
    height: 100vh;
}

.botones {
    position: relative;
    height: 7rem;
}

.contador__reflejo, .contador__interior-borde,
.contador__interior-fondo, .contador__recorrido,
.contador__apuntador, .contador__circulo, 
.contador__horas, .iniciador, .fondo, .marcador {
    position: absolute;
}

.marcador {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%);
    bottom: -1rem;
}

.marcador__superior, .marcador__inferior, .fondo {
    display: flex;
    justify-content: end;
}

.marcador__superior, .fondo {
    background-color: #365E7D;
}

.marcador__superior {
    width: 6rem;
    height: 2.5rem;
}

.marcador__inferior, .fondo {
    width: 2.3rem;
}

.marcador__inferior {
    background-color: #294B64;
    height: 4rem;
}

.iniciador {
    height: 3rem;
    width: 100%;
    bottom: 0;
    transform: rotate(-20deg);
}

.marcador__superior, .marcador__superior div {
    border-radius: 0.8rem;
}

.fondo, .fondo div {
    border-radius: 0.5rem 0.5rem 0 0;
}

.fondo {
    left: 3rem;
    height: inherit;
    transform: rotate(-9deg);
}

.marcador__superior div {
    width: 4rem;
    height: inherit;
    background-color: #3F6D8E;
}

.marcador__inferior div {
    width: calc(2.3rem / 2);
    height: inherit;
    background-color: #365E7D;
}

.fondo div {
    width: calc(2.3rem / 2);
    height: inherit;
    background-color: #3F6D8E;

}

.contador {
    position: relative;
    width: 21rem;
    height: 21rem;
    background-color: #75CEF9;
    border-radius: 50%;
    overflow: hidden;
}

.contador__reflejo {
    top: 50%;
    left: 2.6rem;
    transform: translateY(-50%);
    width: 21.2rem;
    height: 21.2rem;
    background-color: #90D8F9;
    border-radius: 50%;
}

.contador__interior-borde {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    height: 16rem;
    background-color: #365E7D;
    border-radius: 50%;
}

.contador__interior-fondo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14.3rem;
    height: 14.3rem;
    background-color: #F4FBFF;
    border-radius: 50%;
}

.contador__recorrido {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 14.4rem;
    height: 14.4rem;
    border-radius: 50%;
}

.contador__apuntador {
    top: 50%;
    left: 57%;
    transform: translate(-57%, -50%);
    background-color: #FF9838;
    width: 9rem;
    height: 1.5rem;
    border-radius: 1rem;
}

.contador__circulo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFAA5B;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    overflow: hidden;
}

.contador__circulo div {
    position: absolute;
    top: 50%;
    right: -1.3rem;
    transform: translateY(-50%);
    width: inherit;
    height: inherit;
    background-color: #FFBA7E;
    border-radius: 50%;
}

.contador__horas {
    width: 100%;
}

.contador__horas div {
    width: 1.3rem;
    height: 1rem;
    background-color: #365E7D;
    border-radius: 0.7rem 0 0 0.7rem;
    transform: rotate(180deg);
}

.doce {
    transform: rotate(90deg);
}

.tres {
    transform: rotate(180deg);
}

.seis {
    transform: rotate(270deg);
}

.uno {
    transform: rotate(120deg);
}

.dos {
    transform: rotate(150deg);
}

.cuatro {
    transform: rotate(210deg);
}

.cinco {
    transform: rotate(240deg);
}

.siete {
    transform: rotate(300deg);
}

.ocho {
    transform: rotate(330deg);
}

.diez {
    transform: rotate(30deg);
}

.once {
    transform: rotate(60deg);
}

.datos {
    width: 30rem;
    height: 30rem;
    background-color:#5CB338;
    padding: 2rem;
}

.datos, .iniciadores div, .reiniciar, .caja input {
    border-radius: 1rem;
}

.tiempo {
    display: flex;
    justify-content: space-between;
}

.caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.caja label {
    font-weight: bold;
}

.caja input {
    width: 6rem;
    height: 6rem;
    text-align: center;
    font-size: 3rem;
}

.controles {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.iniciadores {
    display: flex;
    gap: 0.5rem;
    position: relative;
}
/*
    COLORES:
    #5CB338
    #ECE852
    #FFC145
    #FB4141
*/

.iniciadores div, .reiniciar {
    background-color: #FFC145;
    width: 6rem;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
}

.iniciadores div:hover, .reiniciar:hover {
    background-color: #ECE852;
}

.iniciadores div {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.iniciadores .active {
    opacity: 1;
    visibility: visible;
}