* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

main {
    background-color: #C4E1F6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #A1B0BA;
    width: 34rem;
    height: 26rem;
    border-radius: 20px;
    padding: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #CDFE91;
}

.dato {
    display: flex;
    margin-bottom: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    margin-left: 0.6rem;
    position: relative;
}

img {
    height: 1.2rem;
}

.icon:hover div {
    opacity: 1;
    visibility: visible;
}

.icon div {
    position: absolute;
    width: 9.5rem;
    font-size: 0.9rem;
    padding: 8px;
    border-radius: 8px;
    left: 33px;
    background-color: #f52d00;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.4s ease;
}

.icon div::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    /*border-top-color: #373c3f;
    border-bottom-color: #373c3f;
    border-left-color: #373c3f;*/
    border-right-color: #f52d00;
    left: -20px;
    top: calc(50% - 10px);

}

label {
    width: 9rem;
    color: #62707B;
}

input:not(.personalizado) {
    width: 10rem;
}

input {
    background-color: #62707B;
    outline: transparent;
    border-color: transparent;
    color: #fff;
    text-align: end;
    padding-right: 0.5rem;
}

.buttons {
    width: 10rem;
    display: flex;
    justify-content: space-between;
}

button:not(.calcular button) {
    width: 2.5rem;
    color: #A1B0BA;
}

button {
    background-color: #62707B;
    border-color: transparent;
    border-radius: 0.5rem;
    cursor: pointer;

}

.calcular {
    text-align: center;
    margin-top: 1.5rem;
    /*border: thin solid rebeccapurple;*/
}

.calcular button {
    width: 20rem;
    height: 2rem;
    color: #fff;
}

.active {
    color: #fff;
    background-color: #373c3f;
}

.personalizado {
    width: 9.5rem;
    margin-left: auto;
}

.print {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 10rem;
    color: #E1F0FA;
    font-size: 1.3rem;
}

.view {
    display: flex;
}

span:nth-child(odd) {
    width: 27rem;
}

span:nth-child(even) {
    width: 100%;
    padding-left: 2rem;
}